.title {
  width: 80%;
  margin: 20px auto; /* 使表格水平居中 */
  border-collapse: collapse; /* 合并表格边框，使它们不可见 */
  border: 0px solid black; /* 设置最外圈的边框 */
}
.title td {
  border: none; /* 隐藏单元格边框 */
  text-align: left; /* 文本左对齐 */
  padding-left: 0; /* 确保没有内边距造成的偏移 */
  font-size: 24px; /* 设置字体大小 */
  padding: 5px; /* 单元格内边距，增加内容与边框之间的距离 */
}


.data {
  width: 80%;
  margin: 0 auto; /* 使表格水平居中 */
  border-collapse: collapse; /* 合并表格边框 */
  border: 1px solid black; /* 表格整体边框 */
}
.data td {
  border: 1px solid black; /* 单元格边框 */
  text-align: center; /* 文本居中对齐 */
  padding: 10px; /* 单元格内边距，增加内容与边框之间的距离 */
}

.data2 {
  width: 80%;
  margin: 0 auto; /* 使表格水平居中 */
  border-collapse: collapse; /* 合并表格边框 */
  border: 0px solid black; /* 表格整体边框 */
}
.data2 td {
  text-align: left; /* 文本居中对齐 */
  padding: 1px; /* 单元格内边距，增加内容与边框之间的距离 */
}

.highlighted {
  font-weight: bold; /* 加粗文字 */
  color: red; /* 文字颜色设为红色 */
}

.highlighted2 {
  font-weight: bold; /* 加粗文字 */
  color: black; /* 文字颜色设为红色 */
}

.stack {
  width: 80%;
  margin: 10px auto; /* 使表格水平居中 */
  border-collapse: collapse; /* 合并表格边框，使它们不可见 */
  border: 1px solid black; /* 设置最外圈的边框 */
}
.stack td {
  border: 1px solid black; /* 单元格边框 */
  text-align: center; /* 文本左对齐 */
  padding-left: 0; /* 确保没有内边距造成的偏移 */
  padding: 5px; /* 单元格内边距，增加内容与边框之间的距离 */
}


.data3 {
  width: 80%;
  margin: 10px auto; /* 使表格水平居中 */
  border-collapse: collapse; /* 合并表格边框，使它们不可见 */
  border: 1px solid black; /* 设置最外圈的边框 */
}
.data3 td {
  border: 1px solid black; /* 单元格边框 */
  text-align: left; /* 文本左对齐 */
  padding-left: 0; /* 确保没有内边距造成的偏移 */
  padding: 5px; /* 单元格内边距，增加内容与边框之间的距离 */
}

.data4 {
  width: 80%;
  margin: 10px auto; /* 使表格水平居中 */
  border-collapse: collapse; /* 合并表格边框，使它们不可见 */
  border: 1px solid black; /* 设置最外圈的边框 */
}
.data4 td {
  border: 1px solid black; /* 单元格边框 */
  text-align: left; /* 文本左对齐 */
  padding-left: 0; /* 确保没有内边距造成的偏移 */
  padding: 5px; /* 单元格内边距，增加内容与边框之间的距离 */
  text-indent: 2em; /* 空出两个中文字符 */
}




a {
  text-decoration: none; /* 移除默认的下划线 */
  color: #007BFF; /* 设置文字颜色 */
  font-family: Arial, sans-serif; /* 使用无衬线字体 */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* 添加过渡效果 */
}

a:hover {
  color: #0056b3; /* 悬停时改变文字颜色 */
  border-bottom: 2px solid #0056b3; /* 悬停时添加底部边框 */
}

a:active {
  color: #003580; /* 激活时改变文字颜色 */
}